@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.no-padding {
  padding: 0 !important;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* Navbar */

.navbar {
  padding: 15px 10px;
  background-color: rgba(54, 215, 183, 0.7);
  border-radius: 5px;
  margin-bottom: 40px;
}

.btn-navbar{
  color: black !important;
  background-color: #ffffff;
  border-color: #2abb9b;
}

.activeBtnNavbar, .btn-navbar:hover {
  color: #fff !important;
  background-color: #2abb9b;
  border-color: #2abb9b;
}

.dropdown-item:focus {
  background-color: inherit;
}

/* Sidebar styling */

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: rgba(54, 215, 183, 0.7);
  color: black;
  transition: all 0.3s;
}

.sidebar-heading {
  font-size: 2em;
  font-weight: 500;
}

#sidebar.active {
  margin-left: -250px;
}

.btn-sidebar {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 15px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #36d7b7;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #36d7b7;
}

#sidebar ul p {
  color: black;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.3em;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #2abb9b;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
  color: #fff;
  background: #36d7b7;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #36d7b7;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Content */

#content {
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  transition: all 0.3s;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

/* Media Queries */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  .sidebar-heading {
    font-size: 1.5em;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}