{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h4>Shopping Bag</h4>
            {% if user.is_authenticated %}
            <div class="row">
                <div class="col">
                    <p>Hello, {{ user.username }}</p>
                    <p>You are signed in and have access to giftcards!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if products %}
    <div class="row">
        <div class="col-8">
            {% for item in products %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                    <div class="col">
                        <p class="card-text truncate">{{ item.product.decription }}</p>
                    </div>
                    <div class="col">
                        <div class="col card-text">
                            <p>Price per item: {{ item.product.price }}</p>
                            <p>Amount of items:{{ item.quantity }}</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-text">
                            <form action="{% url 'change_quantity' item.product_id %}" method="POST">
                                {% csrf_token %}
                                <input type="number" min="1" max="99" value="1" name="quantity" id="quantity">
                                <button type="submit" class="btn btn-navbar">Change Amount</button>
                            </form>
                        </div>
                    </div>
                    <div class="col text-center">
                        <button class="btn btn-navbar"><a href="{% url 'delete_item_from_bag' item.product_id %}">Delete
                                all
                                Items</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-navbar card-title"><a href="{% url 'check_for_free_items' %}">Continue to Payment</a></button>            
                    <p class="card-text">Total Cost: {{ total_price }}</p>
                    <p class="card-text">Total Items: {{ total_products }}</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <h3>There is nothing in your Shopping Bag!</h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}