{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>Shopping Bag</p>
            {% if user.is_authenticated %}
            Hello, {{ user.username }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if shopping_bag %}
            <p>{{ shopping_bag }}</p>
            {% else %}
                <h5>Your shopping bag is empty, click <a href="{% url 'products' %}" class="btn btn-navbar">HERE</a> to go back to all products</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}