{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}
<div class="container">
    <div class="row m-5">
        <div class="col">
            {% if user.is_authenticated %}
            Hello, {{ user.username }}
            {% if userprofile %}
            {% for field in userprofile %}
            <p>{{ field }}</p>
            {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            {% if giftcards %}
            <h4>You have previously bought and started a giftcard for:</h4>
            {% for giftcard in giftcards %}
            <div class="col m-5">
                <div>Product Name: {{ giftcard.product_name }}</div>
                <div>How many currently bought: {{ giftcard.counter }}</div>
                <div>How many left to buy before next free item: {{ 7|sub:giftcard.counter }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if orders %}
            {% for order in orders %}
            <div class="col mb-4" style="background-color: beige;">
                <p>Order Number:{{ order.order_number }}</p>
                <p>Username: {{ order.user_profile }}</p>
                <p>Order First Name: {{ order.first_name }}</p>
                <p>Order Last Name: {{ order.last_name }}</p>
                <p>Email: {{ order.email }}</p>
                <div class="row">
                    <div class="col">
                        <p>Shipping Details:</p>
                        {{ order.country }}
                        {{ order.street_address }}
                        {{ order.city }}
                        {{ order.postcode }}
                    </div>
                </div>
                <p>Total on Order: {{ order.total }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if subscription %}
            {% if subscription.subscription == True %}
            <p>You have an active subscription!</p>
            <a href="{% url 'delete_subscription' %}" class="btn btn-navbar">Cancel your subscription</a>
            {% else %}            
            <p>You have no current active subscription.</p>
            <a href="{% url 'subscription' %}" class="btn btn-navbar">Set up a new subscription here!</a>
            {% endif %}
            {% else %}
            <p>You have no active subscription.</p>
            <a href="{% url 'subscription' %}" class="btn btn-navbar">Set up a subscription here!</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}