{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="{% static 'payment/js/3dsec.js' %}"></script>
<script>
  _3dsec('{{ STRIPE_PUBLISHABLE_KEY }}', '{{payment_intent_secret}}');
</script>
{% endblock extra_js %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div id="3ds_result">
      </div>
    </div>
    <div class="col">
      <form action="{% url 'payment_error' %}" method="POST" id="error-form">
        <input type="hidden" value="{{ order }}" name="order" id="order">
        <input type="hidden" value="{{ subscription }}" name="subscription" id="subscription">
      </form>
    </div>
  </div>
</div>
{% endblock %}