{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'payment/css/handle_payment.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'payment_backend' %}" method="POST" id="subscription-form">
                {% csrf_token %}
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
                <input type="text" value="{{ payment_intent_id }}" name="payment_intent_id">
                <input type="hidden" value="{{ customer_email }}" name="customer_email" name="customer_email" id="customer_email">
                <input type="hidden" value="{{ order_number }}" name="order_number" name="order_number" id="order_number">
                <button id="submit-button">Pay Now</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'payment/js/handle_payment.js' %}"></script>
<script>
    card('{{stripe_public_key}}', '{{customer_email}}');
</script>
{% endblock %}