{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    {% if user_subscription %}
    <div class="row">
        <div class="col">
            <p>You already have an active Subscription!</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <form action="{% url 'subscription_payment_method' %}" method="POST">
                {% csrf_token %}
                <p>You are setting up a subscription:</p>
                <label for="subscription_plan">Choose a subscription:</label>
                <select name="subscription_plan" id="subscription_plan" required>                    
                    <option value="" selected disabled>Please select an option</option>
                    <option value="plan1" >Monthly at 10.00 $</option>
                    <option value="plan2">Yearly at 100.00 $</option>
                </select>
                <div class="my-3"></div>
                <button type="submit" class="btn btn-navbar">Continue</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}