{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'subscription_payment_method' %}" method="POST">
                {% csrf_token %}
                <p>You are setting up a subscription:</p>
                <label for="subscription_plan">Choose a subscription:</label>
                <select name="subscription_plan" id="subscription_plan" required>
                    <option value="plan1">10.00 $</option>
                    <option value="plan2">100.00 $</option>
                </select>
                <div class="form-group">
                    <label for="renewal">Do you want automatic renewal of subscription or one time payment</label>
                </div>
                <div class="my-3"></div>
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}