{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if e %}
            {% for error in e %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endif %}
            {% if something %}
            <p>{{ something }}</p>
            {% endif %}

        </div>
        <div class="col">
            <a href="{% url 'users' %}" class="btn btn-navbar">Return to your page!</a>
        </div>
    </div>
</div>

{% endblock %}