{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Product Management</h2>
            <h5 class="text-muted">Add a Category</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_category' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in categoryForm %}
                <div class="row mb-2">
                    <div class="col">
                        {{ field.name }}
                    </div>
                    <div class="col-8">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                {% if categoryForm.errors %}
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <button class="btn btn-success" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}