{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h2 class="mb-4">Edit A Product</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        {% if product.image %}
                        <img src="{{ product.image }}" alt="product_image">
                        {% elif product.image_url %}
                        <img src="{{ product.image_url }}" alt="product_image">
                        {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="product_image">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for field in productForm %}
                        <div class="row mb-1">
                            <div class="col-12 col-lg-4">
                                {{ field.name }}
                            </div>
                            <div class="col-12 col-lg-8 text-sm-left text-lg-right">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        {% if productForm.errors %}
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}